

.experience__container > div {
   background: var(--color-bg-variant);
   padding: 2.4rem 5rem;
   border-radius: 2rem;
   border: 1px solid transparent;
}

.experience__skills {
   display: flex;
   justify-content: space-evenly;
}

.skill__content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 2rem;
   column-gap: 8rem;
}

.skill__details {
   display: flex;
   gap: 0.5rem;
   flex-direction: column;
}


