@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* ===========MUI STYLING =================*/

.MuiTypography-root {
   font-family: 'Poppins', sans-serif;
   /* color: var(--color-white); */
}

.MuiTypography-paragraph {
   font-weight: 300;
}

.MuiAccordion-root {
   background: var(--color-bg-variant);
}